$def with (blog_classes)
<h1>完整demo</h1>

<form class="form-inline" role="form" action="/editor" method="POST" id="blog_post">
  <div class="form-group">
    <label for="title">文章名</label>
    <input type="text" class="form-control" name="title" placeholder="请输入标题">
    <label for="blog_class">博客类型</label>
    <select class="form-control" name="blog_class" form="blog_post">
        $for blog_class in blog_classes:
            <option value="$blog_class.id">$blog_class.blog_class_name</option>
    </select>
  
  <button type="submit" class="btn btn-default" form="blog_post">提交</button>
  
    <label class="sr-only" for="content">内容</label>
    <textarea rows="10" id="content" name="content" cols="200"></textarea>
  </div>
  <script type="text/javascript">
        UE.getEditor('content');
  </script>
</form>

<style>
body {
    background-color: aliceblue;
    text-align: center;
}
</style>

