<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">print</span> <span class="mi">1</span><span class="o">+</span><span class="mi">1</span>
<span class="k">def</span> <span class="nf">func</span><span class="p">(</span><span class="n">a</span><span class="p">):</span>
    <span class="k">print</span> <span class="n">a</span><span class="o">*</span><span class="mi">2</span>
    
</pre></div>
</td></tr></table>
<link href="../static/css/highlight.css" rel="stylesheet" type="text/css">